
@{
    ViewBag.Title = "MyRejectedNotes";
    Layout = "~/Views/Shared/_User.cshtml";
}

@Scripts.Render("~/Scripts")
@Scripts.Render("~/libs")

<section id="section-first">

    <div class="container">
        <div class="row">
            <div class="col-md-12 section-first-heading">
                <h1>My Reject Notes</h1>
                <input type="search" placeholder="Seach" class="search" id="search">
                <img class="search-icon" src="../../images/images/search-icon.png" alt="search">
                <button>SEARCH</button>
            </div>

        </div>
        <div class="table-responsive">
            <table class="table" id="myRejectedNotes">
                <thead>
                    <tr>
                        <th scope="col">SR NO.</th>
                        <th scope="col">NOTE TITLE</th>
                        <th scope="col">CATEGORY</th>
                        <th scope="col">REMARKS</th>
                        <th scope="col">CLONE</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                
            </table>
        </div>

        

    </div>

</section>



<script type="text/javascript">
    $(function () {
        $.ajax({
            type: "POST",
            url: "http://localhost:4421/User/MyRejectedNotesData",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    });
    function OnSuccess(response) {



        t = $("#myRejectedNotes").DataTable(
            {

                stateSave: true,
                bLengthChange: false,
                info: false,
                bFilter: true,
                bSort: false,
                bPaginate: true,
                data: response,
                columnDefs: [{
                    "targets": -1,
                    "render": function (data, type, row) {
                        var img = '<div class="btn-group table-submenu">' +
                            '<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                            '<img src="../../images/images/dots.png" alt="More">' +
                            '</button>' +
                            '<div class="dropdown-menu dropdown-menu-right submenu-right">' +
                            '<button class="dropdown-item submenu-item" type="button"><a href="DownloadNoteById/' + data + '" class="submenu-item" style="padding:0">Download Note</a></button>' +
                            '</div>' +
                            '</div>';
                        return img;
                    }
                },
                {
                    "targets": -2,
                    "render": function (data, type, row) {
                        var clone = '<a href="/User/CloneNote/' + data + '">Clone</a>';
                        return clone;
                    }
                }],
                columns: [{ 'data': 'SrNo' },
                    { 'data': 'NoteTitle' },
                { 'data': 'Category' },
                    { 'data': 'Remarks' },
                { 'data': 'id' },
                { 'data': 'id' }]
            });
        $('#search').keyup(function () {
            $("#section-first .section-first-heading input").css("background", "none");
            t.search($(this).val()).draw();
            makePagination();
        })

        makePagination();

        $('.table-submenu').on('click', function () {
            $(this).toggleClass('open');
        });

    };

    function makePagination() {
        $(".dataTables_filter").hide();
        $('#myRejectedNotes_paginate').parent().removeClass('col-sm-7').siblings().remove();
        $('#myRejectedNotes_paginate').addClass("pagination-area text-center");
        $('#myRejectedNotes_paginate').addClass("page-item");


        $('.previous a').html('');
        $('.previous a').append('<span class="page-link" href="#" aria-label="Previous"></span >').append('<img src="../../images/images/left-arrow.png">');

        $('.paginate_button').addClass('page-item');
        $('.paginate_button a').addClass('page-link');


        $('.next a').html('');
        $('.next a').append('<span class="page-link" href="#" aria-label="Next"></span>').append('<img src="../../images/images/right-arrow.png">');


        $('.paginate_button').on('click', function () {

            if (!$(this).hasClass('disabled')) {
                location.reload();
            }

        });
    }
</script>



