<html lang="en">

<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Google Fonts Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <!-- Bootstrap CSS -->
    <!-- Custom CSS -->
    <!-- Responsive CSS -->
    @Styles.Render("~/Content/css")

</head>

<body>
    @RenderBody()

</body>

<!-- JQuery -->
<!-- Custom JS -->
@Scripts.Render("~/Scripts")

</html>