@model NotesMarketplace.User
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Auth.cshtml";
}

<div class="bg">

    <div class="container" id="login-main">
        <!-- Logo Image -->
        <div class="row text-center" id="login-logo">
            <div class="col-md-12">
                <img src="../../images/pre-login/top-logo.png" alt="Logo">
            </div>
        </div>
        <!-- Login wrapper -->
        <div class="row" id="login-wrapper">
            <div class="col-md-12 text-center" id="login-header">

                <div class="col-md-12">
                    <h1>Forgot Password?</h1>
                    <p>Enter your email to reset your password</p>
                </div>

            </div>

            <div class="row" id="login-form">
                <div class="col-md-12">
                    @using (Html.BeginForm("SendPassword","Auth",FormMethod.Post))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.EmailID, new { @class = "login-label", @id = "login-label-email" })
                            @Html.TextBoxFor(m => m.EmailID, new { @type = "email", @class="form-control login-input", @id="login-email", @aria_describedby="emailHelp", @placeholder="Enter your email" })
                          
                        </div>

                        <button type="submit" class="btn btn-primary" id="login-submit-new">SUBMIT</button>
                    }

                </div>
            </div>

        </div>
    </div>

</div>

