/*========================================================
                Mobile Menu
========================================================*/

.logo-wrapper {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
}

.logo-wrapper a {
    align-self: center;
    margin-right: auto;

}

.logo-wrapper #mobile-nav-open-btn {
    font-size: 30px;
    color: #6255a5;
    cursor: pointer;
    z-index: 2;
    margin-left: auto;
    display: none;
}

#mobile-nav {
    /* by default, mobile nav will be hidden with height 0% */
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, .9);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: hidden;
}

#mobile-nav-close-btn {
    font-family: "Raleway", sans-serif;
    font-size: 70px;
    color: #6255a5;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 13px;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav-content {
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}

#mobile-nav ul li {
    margin-bottom: 10px;
}

#mobile-nav a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    /*display: inline;*/
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #ffffff;
    background: #6255a5;
}

.mobile-submenu .dropdown-content a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    -webkit-transition: .3s;
    transition: .3s;
}

.mobile-submenu .dropdown-content {
    height: 0;
    opacity: 0;
}

.mobile-submenu a.dropbtn:hover .mobile-submenu .dropdown-content {
    height: auto;
    opacity: 1;
}

.profile-submenu {
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
    display: none;
}

.profile-submenu .dropdown-item {
    font-size: 16px !important;
    color: #212226;
    font-weight: 400;
    padding: 10px;
}

#profile-menu:hover .profile-submenu {
    display: flex;
}

#navigation-mobile-img {
    margin-left: 10px;
}

.navigation-logout {
    margin-left: 10px;
    background-color: #6255a5;
    color: #fff;
    width: 89px;
    height: 30px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Large Devices (Desktops & Laptops) */
@media (min-width: 1200px) and (max-width: 1299px) {

    #user-profile-form .user-profile-input,
    #user-profile-form #profile-gender,
    #user-profile-form #profile-upload-label-img,
    #contact-us-comment,
    #user-profile-form #profile-country {
        width: 550px;
    }

    #user-profile-form #profile-phone-code {
        width: 85px;
    }

    #user-profile-form #profile-phone {
        width: 440px;
    }

    .add-notes-description {
        width: 1180px !important;
    }

    #home-customers .home-customer-main {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }


}

/* Medium Devices (Landscape Tablets & Medium Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {

    .logo-wrapper {
        width: 190px;
    }

    .site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li,
    .site-header-home .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li {
        margin: 0 10px;
    }

    #user-profile-form .user-profile-input,
    #user-profile-form #profile-gender,
    #user-profile-form #profile-upload-label-img,
    #contact-us-comment,
    #user-profile-form #profile-country {
        width: 450px;
    }

    #user-profile-form #profile-phone-code {
        width: 75px;
    }

    #user-profile-form #profile-phone {
        width: 360px;
    }

    .add-notes-description {
        width: 960px !important;
    }

    #home-customers .home-customer-main {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }


    #dashboard-right.col-md-6 {
        max-width: 100%;
        width: 100%;
        margin-left: -10px;
    }


}

/* Small Devices (Potrait Tablets & Small Desktops) */
@media (min-width: 768px) and (max-width: 991px) {

    .site-header .header-wrapper .navigation-wrapper,
    .site-header-home .header-wrapper .navigation-wrapper {
        display: none;
    }

    .logo-wrapper {
        width: 100%;
    }

    .logo-wrapper #mobile-nav-open-btn {
        display: flex;
    }

    #user-profile-form .user-profile-input,
    #user-profile-form #profile-gender,
    #user-profile-form #profile-upload-label-img,
    #contact-us-comment,
    #user-profile-form #profile-country,
    #user-profile-form #profile-phone {
        width: 450px;
    }

    #user-profile-form .profile-phone-div {
        padding: 0;
    }

    .add-notes-description {
        width: 450px !important;
    }

    #home-customers .home-customer-main {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #dashboard-earnings-label,
    #dashboard-earnings-stats {
        max-width: 100%;
        width: 100%;
    }

    #dashboard-earnings-label img {
        align-self: center;
    }

    #dashboard-earnings-stats {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }

    #dashboard-right .dashboard-user {
        max-width: 100%;
        width: 100%;
        margin-left: -29px;
    }



}

/* Extra Small Devices (Landscape Phone & Potrait Tablets) */
@media (max-width: 767px) {

    .site-header .header-wrapper,
    .site-header-home .header-wrapper {
        margin: 0;
        padding: 0;
        width: 95%;
    }

    .logo-wrapper {
        width: 100%;
    }

    .site-header .header-wrapper .navigation-wrapper,
    .site-header-home .header-wrapper .navigation-wrapper {
        display: none;
    }

    .logo-wrapper #mobile-nav-open-btn {
        display: flex;
    }

    #section-first .section-first-heading input {
        width: 222px;
    }

    #user-profile-form .user-profile-input,
    #user-profile-form #profile-gender,
    #user-profile-form #profile-upload-label-img,
    #contact-us-comment,
    #user-profile-form #profile-country,
    #user-profile-form #profile-phone {
        width: 450px;
    }

    #user-profile-form .profile-phone-div {
        padding: 0;
    }

    #email-ver #email-ver-submit {
        width: 250px;
    }

    .add-notes-description {
        width: 450px !important;
    }

    #add-review-modal #modal-add-review {
        width: 300px;
        position: relative;
        top: 10%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #add-review-modal textarea {
        width: 200px;
    }


    .title-section-home #home-main {
        transform: translateY(80%);
    }

    #home-main h1,
    .title-section-home #home-main h1 {
        font-size: 34px;
    }

    .title-section-home #home-main p {
        font-size: 18px;
    }

    .title-section-home #home-main button {
        margin: 30px 0 0 0;
    }

    #home-customers .home-customer-main {
        width: 450px;
    }

    #home-customers .home-customer-main {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #dashboard-earnings-label,
    #dashboard-earnings-stats {
        max-width: 100%;
        width: 100%;
    }

    #dashboard-earnings-label img {
        align-self: center;
    }

    #dashboard-earnings-stats {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }

    #dashboard-right .dashboard-user {
        max-width: 100%;
        width: 100%;
        margin-left: -29px;
    }

    /*========================================================
                         Login
========================================================*/
    #login-form #login-email,
    #login-form #signup-first-name,
    #login-form #signup-last-name {
        margin: 0 50px 30px 50px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #000;
        border: 1px solid #6255a5;
        width: 380px;
        height: 45px;
        border-radius: 3px;
    }

    #login-form #login-password {
        margin: 0 50px 10px 50px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #000;
        border: 1px solid #6255a5;
        width: 380px;
        height: 45px;
        border-radius: 3px;
    }

    #login-form #login-forgot-password {
        margin: 0 0 0 172px;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        color: #6255a5;
    }

    .field-icon {
        float: right;
        margin-left: 390px;
        margin-top: -45px;
        position: absolute;
        z-index: 2;
        font-size: 18px;
    }

    #login-form #login-submit {
        margin: 0 50px 20px 50px;
        background-color: #6255a5;
        width: 380px;
        height: 30px;
        border-radius: 3px;
        color: #fff;
        font-size: 18px;
        line-height: 18px;
    }

    #login-form #login-submit-new {
        margin: 0 50px 40px 50px;
        background-color: #6255a5;
        width: 380px;
        height: 30px;
        border-radius: 3px;
        color: #fff;
        font-size: 18px;
        line-height: 18px;
    }

    /*========================================================
                         Change Password
========================================================*/


    #login-form #old-password,
    #login-form #new-password,
    #login-form #confirm-password {
        margin: 0 50px 30px 50px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #000;
        border: 1px solid #6255a5;
        width: 380px;
        height: 45px;
        border-radius: 3px;

    }

    #old-password + .field-icon,
    #new-password + .field-icon,
    #confirm-password + .field-icon {
        float: right;
        margin-left: 390px;
        margin-top: -60px;
        position: absolute;
        z-index: 2;
        font-size: 18px;

    }

    /*========================================================
                         Signup
========================================================*/

    #login-form #signup-sucess {
        margin: 0 0 10px 110px;
        //display: none;
    }

    #login-form #reg-login-question {
        margin: -5px 0 50px 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #333333;
    }

}

/* Extra Small Devices (Potrait Phones & Smaller Devices) */
@media (max-width: 480px) {

    .site-header .header-wrapper,
    .site-header-home .header-wrapper {
        margin: 0;
        padding: 0;
        width: 95%;
    }

    .logo-wrapper {
        width: 100%;
    }

    .site-header .header-wrapper .navigation-wrapper,
    .site-header-home .header-wrapper .navigation-wrapper {
        display: none;
    }

    .logo-wrapper #mobile-nav-open-btn {
        display: flex;
    }

    #section-first .section-first-heading input {
        width: 150px;
    }

    #user-profile-form .user-profile-input,
    #user-profile-form #profile-gender,
    #user-profile-form #profile-upload-label-img,
    #contact-us-comment,
    #user-profile-form #profile-country,
    #user-profile-form #profile-phone {
        width: 300px;
    }

    #user-profile-form .profile-phone-div {
        padding: 0;
    }

    .add-notes-description {
        width: 300px !important;
    }

    #footer .col-md-12 {
        text-align: center;
    }

    #footer span {
        margin: 10px 20% 0 0;
    }

    .title-section-home #home-main {
        transform: translateY(60%);
    }

    #home-main h1,
    .title-section-home #home-main h1 {
        font-size: 34px;
    }

    .title-section-home #home-main p {
        font-size: 16px;
    }

    .title-section-home #home-main button {
        font-size: 16px;
        margin: 30px 0 0 0;
    }


    #home-customers .home-customer-main {
        width: 300px;
    }

    #notes-details-left-inner {
        flex-flow: column;
    }

    .search-result-item,
    .result-details {
        width: 350px;
    }

    /*========================================================
                         Login
========================================================*/
    #login-wrapper #login-header {
        margin-top: 30px;
        margin-bottom: 25px;
    }

    #login-wrapper #login-header h1 {
        margin-top: 0;
        padding: 0;
        font-size: 26px;
        font-weight: 600;
        line-height: 30px;
        color: #6255a5;
        margin-bottom: 15px;

    }

    #login-wrapper #login-header p {
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        color: #333333;
        margin: 0;
    }

    #login-form #login-email,
    #login-form #signup-first-name,
    #login-form #signup-last-name {
        margin: 0 20px 30px 20px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #000;
        border: 1px solid #6255a5;
        width: 280px;
        height: 40px;
        border-radius: 3px;
    }

    #login-form #login-password {
        margin: 0 20px 10px 20px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #000;
        border: 1px solid #6255a5;
        width: 280px;
        height: 40px;
        border-radius: 3px;
    }

    #login-form #login-forgot-password {
        margin: 0 0 0 122px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #6255a5;
    }

    .field-icon {
        float: right;
        margin-left: 270px;
        margin-top: -40px;
        position: absolute;
        z-index: 2;
        font-size: 20px;
    }

    #login-form #login-submit,
    #login-form #login-submit-new {
        margin: 0 20px 20px 20px;
        background-color: #6255a5;
        width: 280px;
        height: 30px;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
    }

    #login-form #login-label-email {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #333333;
        margin: 0px 0px 10px 22px;
    }

    #login-form #login-label-password {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #333333;
        margin: 0px 0px 10px 20px;
    }


    #login-form #login-error {
        margin: 0 0 20px 20px;
        font-size: 10px;
        font-weight: 300;
        line-height: 16px;
        color: #ff3636;
        //display: none;
    }


    #login-form #login-checkbox {
        margin: 10px 0 20px 20px;
        border: 1px solid #d1d1d1;
        width: 20px;
        height: 20px;
        border-radius: 3px;
    }

    #login-form #login-label-checkbox {
        margin: 0;
        position: relative;
        top: -4px;
        left: 8px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #333333;
    }


    /*========================================================
                         Change Password
========================================================*/


    #login-form #old-password,
    #login-form #new-password,
    #login-form #confirm-password {
        margin: 0 20px 30px 20px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #000;
        border: 1px solid #6255a5;
        width: 280px;
        height: 40px;
        border-radius: 3px;

    }

    #old-password + .field-icon,
    #new-password + .field-icon,
    #confirm-password + .field-icon {
        float: right;
        margin-left: 270px;
        margin-top: -50px;
        position: absolute;
        z-index: 2;
        font-size: 16px;

    }

    /*========================================================
                         Signup
========================================================*/

    #login-form #signup-sucess {
        text-align: center;
        margin: 0 0 10px 50px;
        font-size: 11px;
        //display: none;
    }

    #login-form #reg-login-question {
        margin: -5px 0 50px 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #333333;
    }


}

/* Extra Small Devices (Potrait Phones & Smaller Devices) */
@media (max-width: 320px) {

    .site-header .header-wrapper,
    .site-header-home .header-wrapper {
        margin: 0;
        padding: 0;
        width: 95%;
    }

    .logo-wrapper {
        width: 100%;
    }

    .site-header .header-wrapper .navigation-wrapper,
    .site-header-home .header-wrapper .navigation-wrapper {
        display: none;
    }

    .logo-wrapper #mobile-nav-open-btn {
        display: flex;
    }

    #section-first .section-first-heading input {
        width: 100px;
    }

    .title-section-home #home-main {
        transform: translateY(30%);
    }

    #home-main h1,
    .title-section-home #home-main h1 {
        font-size: 34px;
    }

    .title-section-home #home-main p {
        font-size: 18px;
    }

    .title-section-home #home-main button {
        margin: 30px 0 0 0;
    }

    /*========================================================
                         Login
========================================================*/
    #login-logo img {
        width: 200px;
    }

    #login-wrapper #login-header {
        margin-top: 25px;
        margin-bottom: 20px;
    }

    #login-wrapper #login-header h1 {
        margin-top: 0;
        padding: 0;
        font-size: 26px;
        font-weight: 600;
        line-height: 28px;
        color: #6255a5;
        margin-bottom: 14px;

    }

    #login-wrapper #login-header p {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        color: #333333;
        margin: 0;
    }

    #login-form #login-email,
    #login-form #signup-first-name,
    #login-form #signup-last-name {
        margin: 0 20px 15px 20px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #000;
        border: 1px solid #6255a5;
        width: 220px;
        height: 40px;
        border-radius: 3px;
    }

    #login-form #login-password {
        margin: 0 20px 10px 20px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #000;
        border: 1px solid #6255a5;
        width: 220px;
        height: 40px;
        border-radius: 3px;
    }

    #login-form #login-forgot-password {
        margin: 0 0 0 62px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #6255a5;
    }

    .field-icon {
        float: right;
        margin-left: 210px;
        margin-top: -40px;
        position: absolute;
        z-index: 2;
        font-size: 20px;
    }

    #login-form #login-submit,
    #login-form #login-submit-new {
        margin: 0 20px 20px 20px;
        background-color: #6255a5;
        width: 220px;
        height: 30px;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
    }

    #login-form #login-label-email {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #333333;
        margin: 0px 0px 10px 22px;
    }

    #login-form #login-label-password {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #333333;
        margin: 0px 0px 10px 20px;
    }


    #login-form #login-error {
        margin: 0 0 20px 20px;
        font-size: 10px;
        font-weight: 300;
        line-height: 16px;
        color: #ff3636;
        //display: none;
    }


    #login-form #login-checkbox {
        margin: 10px 0 20px 20px;
        border: 1px solid #d1d1d1;
        width: 16px;
        height: 16px;
        border-radius: 3px;
    }

    #login-form #login-label-checkbox {
        margin: 0;
        position: relative;
        top: -4px;
        left: 8px;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: #333333;
    }

    #login-form #login-reg-question {
        margin: 0 0 50px 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: #333333;
    }


    /*========================================================
                         Change Password
========================================================*/


    #login-form #old-password,
    #login-form #new-password,
    #login-form #confirm-password {
        margin: 0 20px 15px 20px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #000;
        border: 1px solid #6255a5;
        width: 220px;
        height: 40px;
        border-radius: 3px;

    }

    #old-password + .field-icon,
    #new-password + .field-icon,
    #confirm-password + .field-icon {
        float: right;
        margin-left: 210px;
        margin-top: -40px;
        position: absolute;
        z-index: 2;
        font-size: 16px;

    }

    /*========================================================
                         Signup
========================================================*/

    #login-form #signup-sucess {
        text-align: center;
        margin: 0 0 10px 25px;
        font-size: 10px;
        //display: none;
    }

    #login-form #reg-login-question {
        margin: -5px 0 50px 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #333333;
    }

}