
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Static.cshtml";
}

<section class="title-section-faq">
    <div id="faq-main">
        <h1>Frequently Asked Questions</h1>
    </div>
</section>
<section id="faq">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1 class="faq-headings">General Question</h1>

                <div class="accordion" id="accordionExample">

                    <div class="card">
                        <div class="card-header faq-header" id="headingOne">
                            <h2 class="mb-0">
                                <h4>What is Notes Marketplace?</h4>
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <img src="../../images/FAQ/add.png" class="faq-add" alt="Add">
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="faq-answer">
                                    <h4>What is Notes Marketplace?</h4>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <img src="../../images/FAQ/minus.png" class="faq-add" alt="Add">
                                    </button>
                                </div>
                                <p>Notes Marketplace is an online marketplace for university students to buy and sell their course notes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header faq-header" id="headingTwo">
                            <h2 class="mb-0">
                                <h4>What do the Unvidersity say?</h4>
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <img src="../../images/FAQ/add.png" class="faq-add" alt="Add">
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="faq-answer">
                                    <h4>What do the Unvidersity say?</h4>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <img src="../../images/FAQ/minus.png" class="faq-add" alt="Add">
                                    </button>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ut ipsam, commodi culpa odio necessitatibus quis aut rem. Laborum nisi dolor, impedit dignissimos sunt mollitia eligendi delectus id, temporibus voluptates.</p>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header faq-header" id="headingThree">
                            <h2 class="mb-0">
                                <h4>Is this legal?</h4>
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <img src="../../images/FAQ/add.png" class="faq-add" alt="Add">
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="faq-answer">
                                    <h4>Is this legal?</h4>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <img src="../../images/FAQ/minus.png" class="faq-add" alt="Add">
                                    </button>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ut ipsam, commodi culpa odio necessitatibus quis aut rem. Laborum nisi dolor, impedit dignissimos sunt mollitia eligendi delectus id, temporibus voluptates.</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>

            <div class="col-md-12">

                <h1 class="faq-headings">Uploaders</h1>

                <div class="accordion" id="accordionExample2">

                    <div class="card">
                        <div class="card-header faq-header" id="headingFour">
                            <h2 class="mb-0">
                                <h4>What can't I sell?</h4>
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    <img src="../../images/FAQ/add.png" class="faq-add" alt="Add">
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample2">
                            <div class="card-body">
                                <div class="faq-answer">
                                    <h4>What can't I sell?</h4>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <img src="../../images/FAQ/minus.png" class="faq-add" alt="Add">
                                    </button>
                                </div>
                                <p>We won't approve materials that have been created by your university or another third party. We also do not accept assignments, essays, practical’s or take-home exams. We love notes though.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header faq-header" id="headingFive">
                            <h2 class="mb-0">
                                <h4>What notes can I sell?</h4>
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <img src="../../images/FAQ/add.png" class="faq-add" alt="Add">
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample2">
                            <div class="card-body">
                                <div class="faq-answer">
                                    <h4>What notes can I sell?</h4>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <img src="../../images/FAQ/minus.png" class="faq-add" alt="Add">
                                    </button>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor cumque, ut temporibus nisi voluptate iusto quos impedit quod, quam distinctio dignissimos recusandae a, dolorum, tempore facilis amet obcaecati consequuntur incidunt.</p>
                            </div>
                        </div>
                    </div>


                </div>

            </div>


            <div class="col-md-12">

                <h1 class="faq-headings">Downloaders</h1>

                <div class="accordion" id="accordionExample3">

                    <div class="card">
                        <div class="card-header faq-header" id="headingSix">
                            <h2 class="mb-0">
                                <h4>How do I buy notes?</h4>
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                    <img src="../../images/FAQ/add.png" class="faq-add" alt="Add">
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample3">
                            <div class="card-body">
                                <div class="faq-answer">
                                    <h4>How do I buy notes?</h4>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                        <img src="../../images/FAQ/minus.png" class="faq-add" alt="Add">
                                    </button>
                                </div>
                                <p>Search for the notes you are after using the 'SEARCH NOTES' tab at the at the top right of every page. You can then filter results by university, category, course information etc. To purchase, go to detail page of note and click on download button. If notes are free to download – it will download over the browser and if notes are paid, Once Seller will allow download you can have notes at my downloads grid for actual download. </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header faq-header" id="headingSeven">
                            <h2 class="mb-0">
                                <h4>Can I edit the notes I purchased?</h4>
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    <img src="../../images/FAQ/add.png" class="faq-add" alt="Add">
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample3">
                            <div class="card-body">
                                <div class="faq-answer">
                                    <h4>Can I edit the notes I purchased?</h4>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        <img src="../../images/FAQ/minus.png" class="faq-add" alt="Add">
                                    </button>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex perspiciatis quae modi, architecto illum neque minima quasi praesentium laudantium eveniet deleniti reiciendis possimus animi est consequuntur sunt autem. Excepturi, rem?</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>



        </div>
    </div>

</section>